<div class="row">
  <div class="col-md-6">
    Guest Search:
    <input class="form-control">
    <br> Results:
    <br>
    <select class="form-control" size="4">
      <option>Noisy Staff</option>
      <option>I like the chef's cooking!</option>
      <option>Good Staff</option>
      <option>What the staff!</option>
    </select>
  </div>
  <div class="col-md-6">
    Before Edits:
    <br>
    <div style='border:2px black solid;'>
      <span>
        UserID: G0234
        <br> Subject: What the staff!
        <br> Feedback: What is the staff doing! He serves good quality food and is kind! Would come again!
        <br> Ratings: 5 Stars
        <br><br><br><br>
      </span>
    </div>
  </div>
</div>