<div class="row">
  <div class="col-md-6">
    <h2>Housekeeping</h2>
    Room Number:
    <br>
    <input class="form-control"> Time:
    <br>
    <input class="form-control"> Staff Name:
    <br>
    <input class="form-control">
    <br>
    <button>Schedule</button>
  </div>
  <div class="col-md-6">
    <h2>Rooms Schedules</h2>
    <div style='border:2px black solid;'>
      <div class="row">
        <h5 class="col-md-3">
          Room Number
        </h5>
        <h5 class="col-md-3">
          Time
        </h5>
        <h5 class="col-md-3">
          By
        </h5>
        <h5 class="col-md-3">
          Ready
        </h5>
      </div>
      <div class="row">
        <span class="col-md-3">
          Room 101
        </span>
        <span class="col-md-3">
          10:00 am
        </span>
        <span class="col-md-3">
          John Smith
        </span>
        <span class="col-md-3">
          Ready
        </span>
      </div>
    </div>
  </div>
</div>