<div>
  <h2>Create New Account</h2>
  <div class="row">
    <div class="col-md-2">
      <h5>New Account</h5>
      Username:
      <br>
      <input class="form-control"> Password:
      <br>
      <input class="form-control"> Confirm Password:
      <br>
      <input class="form-control"> Privileges
      <br>
      <select class="form-control">
        <option>Administrator</option>
        <option>Staff</option>
      </select>
      <br>
      <button>Update</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      System Account Search:
      <input class="form-control">
      <br> All Accounts:
      <br>
      <div style='border:2px black solid;'>
        <span>
          John Smith
          <a routerLink="../Edit">
            <button>Edit</button>
          </a>
          <button>Delete</button>
          <br> Will Smith
          <a routerLink="../Edit">
            <button>Edit</button>
          </a>
          <button>Delete</button>
          <br> Jaden Smith
          <a routerLink="../Edit">
            <button>Edit</button>
          </a>
          <button>Delete</button>
          <br>
        </span>
      </div>
    </div>
  </div>