<div class="sidenav">
  <a routerLink="Home">Dashboard</a>
  <a routerLink="Booking">Booking</a>
  <a routerLink="Guest">Guests</a>
  <a routerLink="Payroll">Payroll</a>
  <a routerLink="Bill">Bills & Invoices</a>
  <a routerLink="Staff">Staffs</a>
  <a routerLink="Housekeeping">Housekeeping</a>
  <a routerLink="Report">Reports</a>
  <a routerLink="Create">Account</a>
  <a routerLink="Feedback">Feedbacks</a>
</div>
<div class="main">
    <img src="../assets/icons8-hotel-96.png" height="35" width="35">
    <strong><span style="font-size:2rem;">Delonix Regia Hotel</span></strong>
    <br><br>
    <div class="container">
    <router-outlet></router-outlet>
    </div>
</div>