<div>
  <h2>Guests</h2>
  <div class="row">
  <div class="col-md-2">
      First Name:<br>
      <input class="form-control">
      Last Name:<br>
      <input class="form-control">
      Number of Adults:<br>
      <input class="form-control">
      Number of Children:<br>
      <input class="form-control">
      Contact Number:<br>
      <input class="form-control">
      Email:<br>
      <input class="form-control">
      Street Number:<br>
      <input class="form-control">
      Block Number:<br>
      <input class="form-control">
      Postal Code:<br>
      <input class="form-control">
      Country:<br>
      <input class="form-control">
    </div>
    <div class="col-md-2">
      Credit Card Number:<br>
      <input class="form-control">
      Credit Card Name:<br>
      <input class="form-control">
      Credit Card Expiration Date:<br>
      <input class="form-control">
      Additional Remarks:<br>
      <input class="form-control">
      Type of Customer:<br>
      <input class="form-control">
      <br>
      <button>Update</button>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-6">
      Guest Search: <input class="form-control"><br>
      Results:<br>
      <select class="form-control" size="4">
          <option>John Smith</option>
          <option>Big Baller Ben</option>
          <option>Ong Ming Feng</option>
          <option>Ong Jing Fu</option>
        </select>
        <br>
      Before Edits:<br>
      <div style='border:2px black solid;'>
      <span>
        First Name:John<br>
        Last Name: Smith<br>
        Number of Adults: 2<br>
        Number of Children:1<br>
        Contact Number: 9234 1234<br>
        Email: jhnsmith@email.com<br>
        Street Name: Singapore Ave 1<br>
        Block Number: Blk 175C<br>
        Postal Code: 823175<br>
        Country: Singapore<br>
        Credit Card Number: 1235 1234 1245<br>
        Credit Card Name: John Smith<br>
        Credit Card Expiry Date: 15/3/19<br>
        Additional Remarks: Nil<br>
        Check in Date: 10/10/18<br>
        Check out Date: 12/10/18<br>
        Room Number: Room 101<br>
      </span></div>
    </div>
  </div>
</div>