<div class="row">
  <div class="col-md-4">
    <h2>Generate Invoice</h2>
    <br> First Name:
    <input class="form-control">
    <br> Last Name:
    <input class="form-control">
    <br> Nights Stayed:
    <input class="form-control">
    <br> Additional Cost:
    <input class="form-control">
    <br>
    <button>Generate</button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-6">
    <h2>Preview</h2><br>
    <div style='border:2px black solid;'>
      <span>
        First Name:John
        <br> Last Name: Smith
        <br> Number of Adults: 2
        <br> Number of Children:1
        <br> Nights Stayed: 2
        <br> Additional Costs: Nil
        <br> Total Price: $100
        <br><br>
      </span>
    </div>
    <button>Print</button>
  </div>
</div>