<div>
    <h2>Register Staff</h2>
    <div class="row">
    <div class="col-md-2">
        Staff Name:<br>
        <input class="form-control">
        Contact Number:<br>
        <input class="form-control">
        Email:<br>
        <input class="form-control">
        Street Number:<br>
        <input class="form-control">
        Block Number:<br>
        <input class="form-control">
        Postal Code:<br>
        <input class="form-control">
        Country:<br>
        <input class="form-control">
        Date of Birth:<br>
        <input class="form-control">
      </div>
      <div class="col-md-2">
        Credit Card Number:<br>
        <input class="form-control">
        Credit Card Name:<br>
        <input class="form-control">
        Credit Card Expiration Date:<br>
        <input class="form-control">
        Duties:<br>
        <input class="form-control">
        <!-- Use option for duties -->
        Salary:<br>
        <input type="number" class="form-control"><br>
        <button>Save</button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        Before Edits:<br>
        <div style='border:2px black solid;'>
        <span>
          First Name:John<br>
          Contact Number: 9234 1234<br>
          Email: jhnsmith@email.com<br>
          Street Name: Singapore Ave 1<br>
          Block Number: Blk 175C<br>
          Postal Code: 823175<br>
          Country: Singapore<br>
          Date of Birth: 09/11/2000<br>
          Credit Card Number: 1235 1234 1245<br>
          Credit Card Name: John Smith<br>
          Credit Card Expiry Date: 15/3/19<br>
          Duties: Housekeeping Manager<br>
          Salary: $2,500<br>
        </span></div>
      </div>
    </div>
  </div>