<div>
    <h2>Register Staff</h2>
    <div class="row">
    <div class="col-md-2">
        Staff Name:<br>
        <input class="form-control">
        Contact Number:<br>
        <input class="form-control">
        Email:<br>
        <input class="form-control">
        Street Number:<br>
        <input class="form-control">
        Block Number:<br>
        <input class="form-control">
        Postal Code:<br>
        <input class="form-control">
        Country:<br>
        <input class="form-control">
        Date of Birth:<br>
        <input class="form-control">
      </div>
      <div class="col-md-2">
        Credit Card Number:<br>
        <input class="form-control">
        Credit Card Name:<br>
        <input class="form-control">
        Credit Card Expiration Date:<br>
        <input class="form-control">
        Duties:<br>
        <input class="form-control">
        <!-- Use option for duties -->
        Salary:<br>
        <input type="number" class="form-control">
        <button>Register</button>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-6">
        Staff Search: <input class="form-control"><br>
        All Staffs:<br>
        <div style='border:2px black solid;'>
        <span>
          John Smith <a routerLink="../StaffEdit"><button>Edit</button></a><button>Delete</button><br>
          Will Smith<a routerLink="../StaffEdit"><button>Edit</button></a><button>Delete</button><br>
          Jaden Smith<a routerLink="../StaffEdit"><button>Edit</button></a><button>Delete</button><br>
        </span></div>
      </div>
    </div>
  </div>