<div>
  <h2>Dashboard</h2>
  <div class="row" style="text-align:center; width:70vw;">
    <div class="card col-md-4">
      <h5 clss="card-title">Staffs on Duty</h5>
      <br>
      <div class="row">
        <div class="col-md-6">
          5
        </div>
        <div class="col-md-6">
          <img src="../assets/icons8-people-60.png" width="60" height="60">
        </div>
      </div>
    </div>
    <div class="card col-md-4">
        <h5 clss="card-title">Room Vacant</h5>
      <br>
      <div class="row">
        <div class="col-md-6">
          24
        </div>
        <div class="col-md-6">
          <img src="../assets/icons8-room-filled-100.png" width="60" height="60">
        </div>
      </div>
    </div>
    <div class="card col-md-4">
        <h5 clss="card-title">Guests</h5>
      <br>
      <div class="row">
        <div class="col-md-6">
          159
        </div>
        <div class="col-md-6">
          <img class="card-img-right" src="../assets/icons8-account-filled-100.png" width="60" height="60">
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <br><br>
<div class="row" style="width:70vw;">
  <div class="col-md-6">
    <h5>Occupancy</h5>
  </div>
  <div class="col-md-6">
  <h5>Latest Bookings</h5>
  </div>
</div>
</div>