<div>
  <h2>Booking</h2>
  <div class="row">
    <div class="col-md-2">
      First Name:<br>
      <input class="form-control">
      Last Name:<br>
      <input class="form-control">
      Number of Adults:<br>
      <input class="form-control">
      Number of Children:<br>
      <input class="form-control">
      Email:<br>
      <input class="form-control">
      Street Number:<br>
      <input class="form-control">
      Block Number:<br>
      <input class="form-control">
      Postal Code:<br>
      <input class="form-control">
      Country:<br>
      <input class="form-control">
    </div>
    <div class="col-md-2">
      Credit Card Number:<br>
      <input class="form-control">
      Credit Card Name:<br>
      <input class="form-control">
      Credit Card Expiration Date:<br>
      <input class="form-control">
      Additional Remarks:<br>
      <input class="form-control">
      Type of Customer:<br>
      <input class="form-control">
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-3">
      Check In Date:
      <br><br>
      Check Out Date:
    </div>
    <div class="col-md-3">
      Room Number: <br>
    </div>
  </div>
</div>